.hidden
{
	display: none;
}

header{
	display: flex;
	justify-content: space-between;
}

header ul li{
	display: inline;
}

h1 {
	color: red;
	margin-left: 30px;
	text-align: center;
}
.container{
	width: 920px
	margin-left auto
	
}

p {
	font-family: verdana;
	font-size: 16px;
	color: navy
}

.grid{
	display: grid;
	grid-template-columns: auto auto;
} 
.argument{
	padding: 30px;
}

.argument img{ 
	width: 350px;
	height: 300px;
}


body { 
	font-size: 14px; font-family: "Arial", "helvetica", sans-serif; 

}

.hidden { display: none; }

.data-graphic {border: thin dashed blue; width: 30%;}